body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

body,  * {
  box-sizing: border-box;
}

/* elements */

button, .button {
  background: #f48331!important;
  border: 1px solid #f48331;
  border-radius: 3px;
  color: #000!important;
  padding: 8px 24px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
  text-decoration: none!important;
}

button:hover, .button:hover {
  color: #f48331!important;
  background: #000!important;
}

button[disabled] {
  background: #aa5b22;
  border-color: #dbdbdb;
  color: #dbdbdb;
  cursor: not-allowed;
}


select {
  height: 40px;
  font-size: 28px;
  line-height: 32px;
  color: #f48331;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  border: 1px solid #f48331;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent url("arrow.png") no-repeat scroll calc(100%) center / 30px;
  position: relative;
  padding: 2px 30px 2px 2px;
}

option {
  background: #111;
}


a {
  color: #f48331;
  text-decoration: underline;
  text-decoration-color: #f48331;
}

a:hover, a:visited {
  color: #aa5b22;
  text-decoration: underline;
  text-decoration-color: #aa5b22;
}


/* page */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('background.jpg');
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.content {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  color: #f48331;
  font-size: 30px;
  z-index: 10000;
}

.header > * {
  margin-right: 20px;
}

.header .button {
  margin-bottom: 0;
}





/* the container */
#container {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 60vw;
  min-width: 500px;
}

#container .group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#container .group .section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#container .group:not(:first-of-type) .section {
  width: 100%;
}

#container h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

/* features */

#container #possible-features {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

#container .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #4d4d4d;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

#container .feature:nth-of-type(2n) {
  background: #2d2d2d;
}

#container .feature input {
  position: relative;
  left: -99999px;
  opacity: 0;
}

#container .feature .char {
  margin-right: 15px;
}

#container .feature:before {
  position: absolute;
  top: calc(50% - 6px);
  left: 10px;
  content: ' ';
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

#container .feature:after {
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  content: '\2713';
  width: 10px;
  height: 10px;
  opacity: 1;
  font-size: 21px;
  line-height: 0;
  font-weight: bold;
  transition: all 0.2s ease 0s;
}

#container .feature:not(.checked):after {
  opacity: 0;
}

#container .feature.checked {
  background: #f48331;
}

#container .feature:nth-of-type(2n).checked {
  background: #aa5b22;
}

/* sizes */

#container #sizes {
  width: 100%;
}

#container #sizes .size {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #3d2d39;
  position: relative;
  padding-left: 50px;
}

#container #sizes .size:nth-of-type(2n) {
  background: #281624;
}

#container #sizes .size .label {
  position: absolute;
  left: 25px;
  transform: translateX(-50%);
}

/* rules */

#container #rules, #container #allrules, #container #fulfilled-rules {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#container .rule {
  background: #072133;
  padding: 13px;
  width: 100%;
}

#container .rule:nth-of-type(2n) {
  background: #1c2f3d;
}

#container .rule[type="feature"] {
  background: #f48331;
}

#container .rule:nth-of-type(2n)[type="feature"] {
  background: #aa5b22;
}

#container .rule[type="size"] {
  background: #3d2d39;
}

#container .rule:nth-of-type(2n)[type="size"] {
  background: #281624;
}

/* all rules */

#container #allrules .rule, #container #fulfilled-rules .rule {
  transition: all 0.2s ease 0s;
  position: relative;
}

#container #allrules .rule {
  cursor: pointer;
  padding: 13px 100px 13px 40px;
}

#container #allrules .rule .rule_hint, #container #fulfilled-rules .rule .rule_hint {
  position: absolute;
  right: 10px;
  top: 10px;
  font-style: italic;
  background: rgba(0,0,0,0.8);
  border-radius: 1000000px;
  padding: 4px 8px;
  color: #fff;
}

#container #allrules .rule.checked {
  background: #5ddd58;
  color: #222222;
}

#container #allrules .rule:nth-of-type(2n).checked {
  background: #4ab046;
}

#container #allrules .rule:before {
  position: absolute;
  top: calc(50% - 6px);
  left: 10px;
  content: ' ';
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

#container #allrules .rule.checked:before {
  border-color: #222222;
}

#container #allrules .rule:after {
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  content: '\2713';
  color: #222222;
  width: 10px;
  height: 10px;
  opacity: 1;
  font-size: 21px;
  line-height: 0;
  font-weight: bold;
  transition: all 0.2s ease 0s;
}

#container #allrules .rule:not(.checked):after {
  opacity: 0;
}

/* fulfilled rules */

#container #fulfilled-rules .rule {
  padding: 13px 100px 13px 13px;
}

/* badge */

#container #badge {
  margin-bottom: 30px;
}

#container #badge-container {
    background: rgba(0,0,0,0.6);
    padding: 20px;
}

#container #badge-container table button {
  margin-bottom: 0;
}
#container #badge-container table .hint {
  font-size: 70%;
  font-style: italic;
}

#container #badge-container table textarea {
  background: #dbdbdb;
  color: #222222;
  border: 1px solid #f48331;
  border-radius: 3px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 10px;
  width: 100%;
  padding: 3px;
}

/* error and warning overlays */

#error, #warning {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px;
  background: rgba(255,255,255,0.8);
  width: 40vw;
  min-width: 300px;
}

#error .top, #warning .top {
  padding: 15px;
}

#error h2, #warning h2 {
  margin: 0;
}

#error .message, #warning .message {
  padding: 30px;
}

#error .top {
  background: #993b3b;
  color: #fff;
}


#warning .top {
  background: #cfb24e;
  color: #222222;
}